.centered {           
    margin: auto;
    text-align: center;

}

@font-face {
    font-family: "cafe";
    src: url('../Cafe24Oneprettynight.ttf');
}

body {
    font-family: "cafe";
}

h1 {
    
    font-size: 70px;
}

p {

    font-size: 40px;
}



.box1 {
    position: fixed;
    bottom: 20%;
    right:0%;
    text-align: center;
    background-color: teal;
    width: 250px;
    height: 70px;
    
}

.box2 {
    display: inline-block;
    width: 80px;
    height: 50px;
  
}

.box3 {
    display: inline-block;
    width: 60px;
    height: 50px;
}

.box4 {
    display: inline-block;
    width: 90px;
    height: 50px;
}
