
@font-face {
    font-family: "cafe";
    src: url('../Cafe24Oneprettynight.ttf');
}

body {
    font-family: "cafe";
}

h1 {
    
    font-size: 70px;
}

p {

    font-size: 40px;
}

h2 {
    font-size: 20px;
}


.box1 {
    position: fixed;
    bottom: 20%;
    right:0%;
    text-align: center;
    background-color: rgba(0, 128, 128, 0.514);
    width: 250px;
    height: 80px;
    
}

.box2 {
    display: inline-block;
    width: 70px;
    height: 70px;
    background-color: tan;
  
}

.box3 {
    display: inline-block;
    width: 70px;
    height: 70px;
    background-color: yellowgreen;
}

.box4 {
    display: inline-block;
    width: 70px;
    height: 70px;
    background-color: aliceblue;
}

/* 스크롤 이벤트 시작*/
.container {
    margin: 20px;
  }
.list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
.list .up-on-scroll {                                /*본문 이거 사용*/
    margin-top: 20px;
    transition: transform 0.7s, opacity 1s;
  }
.img-wrap {                                         /*이미지는 이거 사용*/
    margin: 20px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    max-height: 400px;
  }
.img-wrap .image {
    object-fit: contain;
    max-width: 500px;
    width: 100%;
  }

  /* 스크롤 이벤트 끝 */