/* 폰트 둘 중 하나 괜찮은거 말해줘. 지금 당장 폰트를 정한다기보다 써보고 이쁘장한걸로 정할거라서 다른폰트 추천도 받아용(KH) */

@font-face {
  font-family: 'twayair';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Eulyoo1945-SemiBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/Eulyoo1945-SemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  /* 폰트적용부분 */
  font-family: Eulyoo1945-SemiBold;
}

header {
  position: relative;
}

.title h1{
  text-align: center;
  font-size: 75px;
}
.title div{
  font-size: 17px;
  display: block;
  width: 300px;
  margin: auto;
  text-align: center;
}

#fst{
  animation-delay: 0.4s;
}

#sec{
  animation-delay: 1s;
}