/* 폰트 둘 중 하나 괜찮은거 말해줘. 지금 당장 폰트를 정한다기보다 써보고 이쁘장한걸로 정할거라서 다른폰트 추천도 받아용(KH) */

@font-face {
  font-family: 'twayair';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Eulyoo1945-SemiBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/Eulyoo1945-SemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  /* 폰트적용부분 */
  font-family: Eulyoo1945-SemiBold;
}

header {
  position: relative;
}

.title h1{
  text-align: center;
  font-size: 75px;
}
.title div{
  font-size: 17px;
  display: block;
  width: 300px;
  margin: auto;
  text-align: center;
}

#fst{
  animation-delay: 0.4s;
}

#sec{
  animation-delay: 1s;
}

* {
  margin: 0;
  padding: 0;
}

.section input[id*="slide"] {
  display: none;
}

.section .slidewrap {
  max-width: 45%;
  margin-top: 3em;
  margin-left: 2em;
}

.section .slidelist {
  -webkit-padding-start: 0px;
  white-space: nowrap;
  font-size: 0;
  overflow: hidden;
  position: relative;
}

.section .slidelist>li {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  transition: all .5s;
}

.section .slidelist>li>a {
  display: block;
  position: relative;
}

.section .slidelist>li>a img {
  width: 100%;
}

.section .slidelist label {
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  padding: 10%;
  cursor: pointer;
}

.section .slidelist .textbox {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.6;
  text-align: center;
}

.section .slidelist .textbox h3 {
  font-size: 36px;
  color: #fff;
  ;
  transform: translateY(30px);
  transition: all .5s;
}

.section .slidelist .textbox p {
  font-size: 16px;
  color: #fff;
  opacity: 0;
  transform: translateY(30px);
  transition: all .5s;
}

/* input에 체크되면 슬라이드 효과 */
.section input[id="slide01"]:checked~.slidewrap .slidelist>li {
  transform: translateX(0%);
}

.section input[id="slide02"]:checked~.slidewrap .slidelist>li {
  transform: translateX(-100%);
}

.section input[id="slide03"]:checked~.slidewrap .slidelist>li {
  transform: translateX(-200%);
}

.section input[id="slide04"]:checked~.slidewrap .slidelist>li {
  transform: translateX(-300%);
}

.section input[id="slide05"]:checked~.slidewrap .slidelist>li {
  transform: translateX(-400%);
}

/* input에 체크되면 텍스트 효과 */
.section input[id="slide01"]:checked~.slidewrap li:nth-child(1) .textbox h3 {
  opacity: 1;
  transform: translateY(0);
  transition-delay: .2s;
}

.section input[id="slide01"]:checked~.slidewrap li:nth-child(1) .textbox p {
  opacity: 1;
  transform: translateY(0);
  transition-delay: .4s;
}

.section input[id="slide02"]:checked~.slidewrap li:nth-child(2) .textbox h3 {
  opacity: 1;
  transform: translateY(0);
  transition-delay: .2s;
}

.section input[id="slide02"]:checked~.slidewrap li:nth-child(2) .textbox p {
  opacity: 1;
  transform: translateY(0);
  transition-delay: .4s;
}

.section input[id="slide03"]:checked~.slidewrap li:nth-child(3) .textbox h3 {
  opacity: 1;
  transform: translateY(0);
  transition-delay: .2s;
}

.section input[id="slide03"]:checked~.slidewrap li:nth-child(3) .textbox p {
  opacity: 1;
  transform: translateY(0);
  transition-delay: .4s;
}

/* 좌,우 슬라이드 버튼 */
.slide-control>div {
  display: none;
}

.section .left {
  left: 30px;
  background: url('./slide/left.png') center center / 100% no-repeat;
  opacity: 0.7;
}

.section .right {
  right: 30px;
  background: url('./slide/right.png') center center / 100% no-repeat;
  opacity: 0.7;
}

.section input[id="slide01"]:checked~.slidewrap .slide-control>div:nth-child(1) {
  display: block;
}

.section input[id="slide02"]:checked~.slidewrap .slide-control>div:nth-child(2) {
  display: block;
}

.section input[id="slide03"]:checked~.slidewrap .slide-control>div:nth-child(3) {
  display: block;
}

.section input[id="slide04"]:checked~.slidewrap .slide-control>div:nth-child(4) {
  display: block;
}

.section input[id="slide05"]:checked~.slidewrap .slide-control>div:nth-child(5) {
  display: block;
}

/* 페이징 */
.slide-pagelist {
  text-align: center;
  padding: 10px;
}

.slide-pagelist>li {
  display: inline-block;
  vertical-align: middle;
}

.slide-pagelist>li>label {
  display: block;
  padding: 7px 7px;
  border-radius: 7px;
  background: #ccc;
  margin: 10px 10px;
  cursor: pointer;
}

.section input[id="slide01"]:checked~.slidewrap .slide-pagelist>li:nth-child(1)>label {
  background: #999;
}

.section input[id="slide02"]:checked~.slidewrap .slide-pagelist>li:nth-child(2)>label {
  background: #999;
}

.section input[id="slide03"]:checked~.slidewrap .slide-pagelist>li:nth-child(3)>label {
  background: #999;
}

.section input[id="slide04"]:checked~.slidewrap .slide-pagelist>li:nth-child(4)>label {
  background: #999;
}

.section input[id="slide05"]:checked~.slidewrap .slide-pagelist>li:nth-child(5)>label {
  background: #999;
}