body {
    padding: 0px;
    margin: 0px;
    
}

.jb-box {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0px auto;
    position: relative;
    background-color: black;
    opacity: 0.7;
}

video {
    background-color: rgb(253, 87, 87);
    z-index: -1;
    width: 100%;
    height: 100%;
}

.jb-text {
    position: absolute;
    top: 10%;
    width: 100%;
}

.jk-text {
    position: absolute;
    top: 19%;
    width: 100%;
}

.jb-text p {
    margin-top: -24px;
    text-align: center;
    font-size: 150px;
    color: #c51010;
}

.img_location {
    position: absolute;
    top: 30%;
    left: 40px;
}
.rp1 {
    z-index: 500;
    float: right;
    font-size: 60px;
    color: aliceblue;
    text-align: center;
    position: fixed; 
    right: 290px;
    top:500px;
    background-color: rgb(255, 96, 96);
    width: 100px; 
    height: 100px;
}
.rp2 {
    z-index: 500;
    float: right;
    font-size: 60px;
    color: aliceblue;
    text-align: center;
    position: fixed; 
    right: 170px;
    top:500px;
    background-color: rgb(253, 198, 46);
    width: 100px; 
    height: 100px;
}
.rp3 {
    z-index: 500;
    float: right;
    font-size: 60px;
    color: aliceblue;
    text-align: center;
    position: fixed; 
    right: 50px;
    top:500px;
    background-color: rgb(215, 230, 88);
    width: 100px; 
    height: 100px;
}
.swiper-container {
    float: left;
    position: absolute;
    left: 300px;
    top: 800px;
    
    width:640px;
    height:420px;
    
    
}

.swiper-container2 {
    float: right;
    position: absolute;
    right: 300px;
    top: 1500px;
    
    width:640px;
    height:420px;
    
    
}

.swiper-container3 {
    float: left;
    position: absolute;
    left: 300px;
    top: 2200px;
    
    width:640px;
    height:420px;
    
    
}

.swiper-slide {
    
    
    display:flex; /* 내용을 중앙정렬 하기위해 flex 사용 */
    align-items:left; /* 위아래 기준 중앙정렬 */
    justify-content:left; /* 좌우 기준 중앙정렬 */
}

.text1 {
    
    font-size: 25px;
    color: rgb(0, 0, 0);
    text-align: left;
    position: absolute; 
    right: 1000px;
    top:850px;
}

.text2 {
    
    font-size: 25px;
    color: rgb(0, 0, 0);
    text-align: left;
    position: absolute; 
    left: 1000px;
    top:1550px;
}

.text3 {
    
    font-size: 25px;
    color: rgb(0, 0, 0);
    text-align: left;
    position: absolute; 
    left: 1000px;
    top:2250px;
}

@font-face {
    font-family: "My Font1";
    src: url("./EliceDigitalBaeumOTF_Bold.otf");
}

.p{font-family: "My Font1",serif;}

@font-face {
    font-family: 'Eulyoo1945-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/Eulyoo1945-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.p1{font-family: "Eulyoo1945-SemiBold",serif;}
